[submodule "story-ipfi/lib/forge-std"]
	path = story-ipfi/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hyperdrive-integration/lib/forge-std"]
	path = hyperdrive-integration/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
